header.brand {
  height: 100%;
  position: fixed;
  width: $left-sidebar-width;
  left: 0;
  top: 0;
  border-right: 1px solid $gold;
  background: url(/assets/pattern.svg);
  background-size: 75%;

  h1 {
    padding-top: 100px;
    text-align: center;
    img {
      width: 200px;
    }
  }

  @media screen and (max-width: 1000px) and (min-width: 801px) {
    width: $right-sidebar-width;

    img {
      max-width: 80%;
    }
  }

  @media screen and (max-width: 800px) {
    height: auto;
    position: static;
    width: auto;
    border-right: none;
    border-bottom: 1px solid $gold;
    background-size: 300px;
    margin-right: $right-sidebar-width;

    h1 {
      padding-top: 32px;
      margin: 0;
    }
  }

  @media screen and (max-width: 600px) {
    margin: 0;
  }
}

